$lightGrey: rgb(230, 230, 230);
$lightGrey2: rgb(194, 194, 194);
$lightGrey3: rgb(122, 120, 120);
.home {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  padding-top: 20px;
  @media screen and (min-width: 600px) {
    padding-top: 30px;
  }
  .dateRange,
  .results {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 375px) {
      margin-left: 20px;
      margin-right: unset;
    }
    @media screen and (min-width: 600px) {
      margin-left: 10px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: 40px;
    }
  }
  .mobileTableHeader {
    margin-top: 5px;
    padding-left: unset;
    padding-right: unset;
    @media screen and (min-width: 375px) {
      padding-left: 20px;
      padding-right: unset;
    }
    @media screen and (min-width: 600px) {
      display: none;
    }
  }
  .results {
    margin-top: 20px;
  }
  .emailList {
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    @media screen and (min-width: 600px) {
      display: none;
    }
    .mobileEmailCard {
      padding: 15px 5px 10px 5px;
      border-bottom: 1px solid $lightGrey2;
      @media screen and (min-width: 375px) {
        padding: 15px 15px 10px 20px;
      }
    }
  }
  .emailTable {
    display: none;
    @media screen and (min-width: 600px) {
      display: block;
      max-height: 80vh;
      overflow-y: auto;
      margin-top: 6px;
      margin-left: 10px;
      margin-right: 10px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  .noResults {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    hr {
      width: 94%;
      border: 1px solid $lightGrey;
    }
    & > :last-child {
      display: grid;
      place-items: center;
      flex: 1;
      height: 80vh;
    }
  }
}
