.results {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  font-weight: bold;
  color: grey;
  .title,
  .suffix {
    font-size: small;
  }
  .body {
    font-size: medium;
    margin-right: 3px;
  }
}
