.results {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  font-weight: bold;
  color: grey;
  .title,
  .suffix {
    font-size: small;
    @media screen and (min-width: 600px) {
      font-size: medium;
    }
  }
  .body {
    font-size: medium;
    margin-right: 3px;
    @media screen and (min-width: 600px) {
      font-size: large;
    }
  }
}
