$lightGrey: rgb(230, 230, 230);
$lightGrey2: rgb(194, 194, 194);
$lightGrey3: rgb(122, 120, 120);
.mobileEmailCard {
  display: grid;
  grid-template-rows: 18px minmax(18px, auto) auto auto;
  grid-template-columns: 20px repeat(8, 1fr) auto auto auto;
  grid-template-areas:
    'mailIcon from from from from from from from clip date date arrow'
    'mailIcon to to to to to to to to to hidden hidden'
    'subject subject subject subject subject subject subject subject subject subject subject subject'
    'body body body body body body body body body body body body';

  justify-items: stretch;
  align-items: flex-start;
  row-gap: 4px;
  font-size: small;

  .from {
    color: black;
    grid-area: from;
    text-transform: lowercase;

    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .iconClip {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    @media screen and (min-width: 375px) {
      width: 18px;
      height: 18px;
    }
    grid-area: clip;
    justify-self: flex-end;
  }
  .arrowIcon {
    width: 8px;
    height: 8px;
    grid-area: arrow;
    margin-left: 3px;
    margin-top: 3px;
  }
  .downArrowIcon {
    transform-origin: center;
    transform: rotate(90deg);
  }
  .mailIcon {
    width: 12px;
    grid-area: mailIcon;
    margin-top: 5px;
  }
  .to {
    grid-area: to;
    text-transform: lowercase;
    font-weight: 400;
  }
  .subject {
    grid-area: subject;
    font-size: medium;
    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .expanded {
    overflow: unset;
    white-space: initial;
    text-overflow: unset;
  }
  .body {
    grid-area: body;
    font-size: larger;
  }
  .date {
    grid-area: date;
    justify-self: flex-end;
  }
  .hiddenEmails {
    grid-area: hidden;
    justify-self: flex-end;
  }
  .active {
    font-weight: bold;
  }
}
